body{
    background-color: #e8e8e8;
    margin: 0px;
}
.content{
    background-color: white;
    width: 520px;
    margin: auto;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.pageheader p{
    font-size: 14px;
    font-weight: bold;
    line-height: 17.5px;
    padding: 7px 12px 7px 12px;
	padding: 7px 12px 7px 12px;
    margin: 0px;
}
.line{
    border-bottom: 1px solid #e8e8e8;
}
.tweet-head{
    vertical-align: top;
}
.logo{
    padding: 0px 6px 6px 0px;
}
.size{
    height: 48px;
}
.logo img{
    margin-left: 12px;
    padding-top: 10px;
}
.title{
    padding: 8.75px 0px 5.25px 0px;
}
.title span.name{
    font-size: 14px;
    line-height: 17.5px;
    font-weight: bold;
    display: block;
    color: black;
    text-decoration: none;
}
.title a{
    text-decoration: none;
}
.title span.username{
    font-size: 12px;
    line-height: 17.5px;
    color: #999;
}
.timestamp{
    padding: 6.563px 7.875px 0px 0px;
    vertical-align: baseline;
    text-align: right;
}
.timestamp a{
    text-decoration: none;
    color: #999;
    font-size: 11px;
    line-height: 17.5px;
}
.tweet-body td{
    margin: 0px 7px 0px 7px;
    font-size: 14px;
    line-height: 16.7px;
    color: #333;
}
.tweet-body td a{
    color: #2477b3;
    text-decoration: none;
}
.tweet-foot td{
    padding: 3.5px 0px 10.5px 0px;
    font-size: 14px;
    line-height: 17.5px;
}
.view-details a{
    color: #2477b3;
    text-decoration: none;
}
.tweet-acts span{
    display: inline-block;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image:
        url(Images/sprite.png);
    height: 10px;
    width: 14px;
    text-align: left;
}
.dot{
    color: #999;
    padding-left: 2.625px;
}
.reply{
    background-position: 0 -1463px;
}
.retweet{
    background-position: 0 -1473px;
}
.fav{
    background-position: 0 -1443px;
}